<div>
  <form action='/' method='get'>
    <label for='path'>GET</label> 
    <input type='text' name='path' id='path' value='<%= @path %>' autofocus \>
    <input type='submit' value='GET' class='btn' \>
  </form>

  <pre><%= @json %></pre>

  <p>Need help? Look at the <a href='/routes'>list of all GET routes</a>.</p>
</div>
